<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <title>Testing</title>
        <link rel="stylesheet" href="/theme/css/main.css" />

        <!-- for ipython notebook -->

        <!--[if IE]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>

<body id="index" class="home">
        <header id="banner" class="body">
                <h1><a href="/">Theory And Practice </a></h1>
                <nav><ul>
                    <li><a href="/pages/AboutMe.html">About Me</a></li>
                    <li><a href="/">Home</a></li>
                    <li><a href="/pages/impactstory.html">ImpactStory</a></li>
                    <li><a href="/pages/in-the-news.html">Media & Outreach</a></li>
                    <li><a href="/pages/projects.html">Projects</a></li>
                    <li class="active"><a href="/category/blog.html">Blog</a></li>
                </ul></nav>
        </header><!-- /#banner -->
<section id="content" class="body">
  <article>
    <header>
      <h1 class="entry-title">
        <a href="/Testing.html" rel="bookmark"
           title="Permalink to Testing">Testing</a></h1>
    </header>

    <div class="entry-content">
<footer class="post-info">
        <abbr class="published" title="2014-03-21T10:53:00">
                Fri 21 March 2014
        </abbr>

        <address class="vcard author">
                By <a class="url fn" href="/author/kyle-cranmer.html">Kyle Cranmer</a>
        </address>
<p>In <a href="/category/blog.html">Blog</a>. </p>

</footer><!-- /.post-info -->      <p>I'm Kyle Cranmer, this is my site. <a href="{filename}../HelloWorld.md">a link</a></p>
<p>And here is an image <a href="{filename}../images/kyle-andys-party-miras-photo.jpg">Alt Text</a></p>
<p><img height="200" width="300" alt="Me" title="Me" src="/images/kyle-andys-party-miras-photo.jpg"></p>
<p><video width='300' height='200' preload='none' controls poster='None'><source src='/images/spyro.mp4' type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'></video></p>
<p><iframe width='640' height='390' src='http://www.youtube.com/embed/Pv_DtHuj5Ds' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></p>
<figure class='code'>
<figcaption><span>learnEmbedding learnEmbedding.py</span> <a href='/downloads/code/learnEmbedding.py'>download</a></figcaption>

<div class="highlight"><pre><span class="c"># Author: Kyle Cranmer &lt;kyle.cranmer@nyu.edu&gt;</span>
<span class="c"># Licence: BSD</span>

<span class="k">print</span><span class="p">(</span><span class="n">__doc__</span><span class="p">)</span>
<span class="kn">import</span> <span class="nn">numpy</span> <span class="kn">as</span> <span class="nn">np</span>

<span class="kn">from</span> <span class="nn">matplotlib</span> <span class="kn">import</span> <span class="n">pyplot</span> <span class="k">as</span> <span class="n">plt</span>
<span class="kn">from</span> <span class="nn">matplotlib.collections</span> <span class="kn">import</span> <span class="n">LineCollection</span>
<span class="kn">from</span> <span class="nn">mpl_toolkits.mplot3d</span> <span class="kn">import</span> <span class="n">Axes3D</span>

<span class="kn">from</span> <span class="nn">sklearn</span> <span class="kn">import</span> <span class="n">manifold</span>
<span class="kn">from</span> <span class="nn">sklearn.metrics</span> <span class="kn">import</span> <span class="n">euclidean_distances</span>
<span class="kn">from</span> <span class="nn">sklearn.decomposition</span> <span class="kn">import</span> <span class="n">PCA</span>

<span class="kn">from</span> <span class="nn">sklearn</span> <span class="kn">import</span> <span class="n">svm</span>

<span class="c"># Next line to silence pyflakes.</span>
<span class="n">Axes3D</span>

<span class="c">#make some random samples in 2d</span>
<span class="n">n_samples</span> <span class="o">=</span> <span class="mi">20</span>
<span class="n">seed</span> <span class="o">=</span> <span class="n">np</span><span class="o">.</span><span class="n">random</span><span class="o">.</span><span class="n">RandomState</span><span class="p">(</span><span class="n">seed</span><span class="o">=</span><span class="mi">3</span><span class="p">)</span>

<span class="c">#this one looks cool</span>
<span class="c">#gridMuSigma = np.array([np.linspace(0,1,n_samples),np.linspace(.1,3,n_samples)]).T</span>

<span class="c">#create a set of Gaussians in a grid of mean (-1.5,1.5) and standard devaition (0.2,5)</span>
<span class="n">gridMuSigma</span><span class="o">=</span><span class="p">[]</span>
<span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="n">np</span><span class="o">.</span><span class="n">linspace</span><span class="p">(</span><span class="o">-</span><span class="mf">1.5</span><span class="p">,</span><span class="mf">1.5</span><span class="p">,</span><span class="n">n_samples</span><span class="p">):</span>
    <span class="k">for</span> <span class="n">j</span> <span class="ow">in</span> <span class="n">np</span><span class="o">.</span><span class="n">linspace</span><span class="p">(</span><span class="o">.</span><span class="mi">2</span><span class="p">,</span><span class="mi">5</span><span class="p">,</span><span class="n">n_samples</span><span class="p">):</span>
        <span class="n">gridMuSigma</span><span class="o">.</span><span class="n">append</span><span class="p">([</span><span class="n">i</span><span class="p">,</span><span class="n">j</span><span class="p">])</span>
<span class="n">gridMuSigma</span><span class="o">=</span><span class="n">np</span><span class="o">.</span><span class="n">array</span><span class="p">(</span><span class="n">gridMuSigma</span><span class="p">)</span>

<span class="c">#probably an easier way to do with meshgrid, but needs to be reshaped</span>
<span class="c">#gridMuSigma=np.meshgrid(np.linspace(-1.5,1.5,n_samples),np.linspace(0.2,5,n_samples))</span>

<span class="c"># choose a different color for each point</span>
<span class="n">colors</span> <span class="o">=</span> <span class="n">plt</span><span class="o">.</span><span class="n">cm</span><span class="o">.</span><span class="n">jet</span><span class="p">(</span><span class="n">np</span><span class="o">.</span><span class="n">linspace</span><span class="p">(</span><span class="mi">0</span><span class="p">,</span> <span class="mi">1</span><span class="p">,</span> <span class="nb">len</span><span class="p">(</span><span class="n">gridMuSigma</span><span class="p">)))</span>

<span class="c">#use 2-d Gaussian information metric for distances</span>
<span class="c"># see equation 7 from http://arxiv.org/abs/0802.2050 (&quot;FINE&quot; paper)</span>
<span class="k">def</span> <span class="nf">getDistance</span><span class="p">(</span><span class="n">x</span><span class="p">,</span><span class="n">y</span><span class="p">):</span>
    <span class="c">#going to define a measure here</span>
    <span class="c">#print &#39;in getSim&#39;, x, y</span>
    <span class="n">aa</span> <span class="o">=</span> <span class="n">x</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span><span class="o">-</span><span class="n">y</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span>
    <span class="n">ab</span> <span class="o">=</span> <span class="n">x</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span><span class="o">+</span><span class="n">y</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span>
    <span class="n">bb</span> <span class="o">=</span> <span class="n">x</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span><span class="o">-</span><span class="n">y</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span>
    <span class="n">num</span> <span class="o">=</span> <span class="n">np</span><span class="o">.</span><span class="n">sqrt</span><span class="p">((</span><span class="n">aa</span><span class="o">**</span><span class="mi">2</span><span class="o">+</span><span class="n">ab</span><span class="o">**</span><span class="mi">2</span><span class="p">))</span><span class="o">+</span><span class="n">np</span><span class="o">.</span><span class="n">sqrt</span><span class="p">((</span><span class="n">aa</span><span class="o">**</span><span class="mi">2</span><span class="o">+</span><span class="n">bb</span><span class="o">**</span><span class="mi">2</span><span class="p">))</span>
    <span class="n">den</span> <span class="o">=</span> <span class="n">np</span><span class="o">.</span><span class="n">sqrt</span><span class="p">((</span><span class="n">aa</span><span class="o">**</span><span class="mi">2</span><span class="o">+</span><span class="n">ab</span><span class="o">**</span><span class="mi">2</span><span class="p">))</span><span class="o">-</span><span class="n">np</span><span class="o">.</span><span class="n">sqrt</span><span class="p">((</span><span class="n">aa</span><span class="o">**</span><span class="mi">2</span><span class="o">+</span><span class="n">bb</span><span class="o">**</span><span class="mi">2</span><span class="p">))</span>
    <span class="n">ret</span> <span class="o">=</span> <span class="n">np</span><span class="o">.</span><span class="n">log</span><span class="p">(</span><span class="n">num</span><span class="o">/</span><span class="n">den</span><span class="p">)</span>
    <span class="k">return</span> <span class="n">ret</span>

<span class="c"># Create the array of &quot;similarities&quot; (distances) between points</span>
<span class="n">tempSim</span><span class="o">=</span><span class="p">[]</span>
<span class="k">for</span> <span class="n">x</span> <span class="ow">in</span> <span class="n">gridMuSigma</span><span class="p">:</span>
    <span class="n">temp</span> <span class="o">=</span> <span class="p">[]</span>
    <span class="k">for</span> <span class="n">y</span> <span class="ow">in</span> <span class="n">gridMuSigma</span><span class="p">:</span>
        <span class="n">temp</span><span class="o">.</span><span class="n">append</span><span class="p">(</span><span class="n">getDistance</span><span class="p">(</span><span class="n">x</span><span class="p">,</span><span class="n">y</span><span class="p">))</span>
    <span class="n">tempSim</span><span class="o">.</span><span class="n">append</span><span class="p">(</span><span class="n">temp</span><span class="p">)</span>
<span class="n">distances</span><span class="o">=</span><span class="n">np</span><span class="o">.</span><span class="n">array</span><span class="p">(</span><span class="n">tempSim</span><span class="p">)</span>

<span class="c">#make 3d embedding </span>
<span class="n">mds</span> <span class="o">=</span> <span class="n">manifold</span><span class="o">.</span><span class="n">MDS</span><span class="p">(</span><span class="n">n_components</span><span class="o">=</span><span class="mi">3</span><span class="p">,</span> <span class="n">metric</span><span class="o">=</span><span class="bp">True</span><span class="p">,</span> <span class="n">max_iter</span><span class="o">=</span><span class="mi">3000</span><span class="p">,</span> <span class="n">eps</span><span class="o">=</span><span class="mf">1e-9</span><span class="p">,</span> <span class="n">random_state</span><span class="o">=</span><span class="n">seed</span><span class="p">,</span>
                   <span class="n">dissimilarity</span><span class="o">=</span><span class="s">&quot;precomputed&quot;</span><span class="p">,</span> <span class="n">n_jobs</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span>
<span class="n">embed3d</span> <span class="o">=</span> <span class="n">mds</span><span class="o">.</span><span class="n">fit</span><span class="p">(</span><span class="n">distances</span><span class="p">)</span><span class="o">.</span><span class="n">embedding_</span>
<span class="k">print</span> <span class="nb">len</span><span class="p">(</span><span class="n">embed3d</span><span class="p">),</span> <span class="n">np</span><span class="o">.</span><span class="n">shape</span><span class="p">(</span><span class="n">embed3d</span><span class="p">),</span> <span class="n">np</span><span class="o">.</span><span class="n">shape</span><span class="p">(</span><span class="n">embed3d</span><span class="p">[:,</span><span class="mi">0</span><span class="p">])</span>

<span class="c">#make 2d embedding</span>
<span class="n">mds2</span> <span class="o">=</span> <span class="n">manifold</span><span class="o">.</span><span class="n">MDS</span><span class="p">(</span><span class="n">n_components</span><span class="o">=</span><span class="mi">2</span><span class="p">,</span> <span class="n">max_iter</span><span class="o">=</span><span class="mi">3000</span><span class="p">,</span> <span class="n">eps</span><span class="o">=</span><span class="mf">1e-9</span><span class="p">,</span> <span class="n">random_state</span><span class="o">=</span><span class="n">seed</span><span class="p">,</span>
                   <span class="n">dissimilarity</span><span class="o">=</span><span class="s">&quot;precomputed&quot;</span><span class="p">,</span> <span class="n">n_jobs</span><span class="o">=</span><span class="mi">1</span><span class="p">)</span>
<span class="n">embed2d</span> <span class="o">=</span> <span class="n">mds2</span><span class="o">.</span><span class="n">fit</span><span class="p">(</span><span class="n">distances</span><span class="p">)</span><span class="o">.</span><span class="n">embedding_</span>

<span class="c">#try to learn mapping</span>
<span class="n">gridMuSigma_pred</span><span class="o">=</span><span class="p">[]</span>
<span class="n">n_samples_pred</span><span class="o">=</span><span class="mi">50</span>
<span class="k">for</span> <span class="n">i</span> <span class="ow">in</span> <span class="n">np</span><span class="o">.</span><span class="n">linspace</span><span class="p">(</span><span class="o">-</span><span class="mf">1.5</span><span class="p">,</span><span class="mf">1.5</span><span class="p">,</span><span class="n">n_samples_pred</span><span class="p">):</span>
    <span class="k">for</span> <span class="n">j</span> <span class="ow">in</span> <span class="n">np</span><span class="o">.</span><span class="n">linspace</span><span class="p">(</span><span class="o">.</span><span class="mi">2</span><span class="p">,</span><span class="mi">5</span><span class="p">,</span><span class="n">n_samples_pred</span><span class="p">):</span>
        <span class="n">gridMuSigma_pred</span><span class="o">.</span><span class="n">append</span><span class="p">([</span><span class="n">i</span><span class="p">,</span><span class="n">j</span><span class="p">])</span>
<span class="n">gridMuSigma_pred</span><span class="o">=</span><span class="n">np</span><span class="o">.</span><span class="n">array</span><span class="p">(</span><span class="n">gridMuSigma_pred</span><span class="p">)</span>

<span class="c">#learn 3d embedding</span>
<span class="n">regr</span> <span class="o">=</span> <span class="n">svm</span><span class="o">.</span><span class="n">NuSVR</span><span class="p">(</span><span class="n">C</span><span class="o">=</span><span class="mf">1.0</span><span class="p">,</span> <span class="n">nu</span><span class="o">=</span><span class="mf">0.1</span><span class="p">)</span>
<span class="k">print</span> <span class="n">regr</span>
<span class="n">regr</span><span class="o">.</span><span class="n">fit</span><span class="p">(</span><span class="n">gridMuSigma</span><span class="p">,</span> <span class="n">np</span><span class="o">.</span><span class="n">reshape</span><span class="p">(</span><span class="n">embed3d</span><span class="p">[:,</span><span class="mi">0</span><span class="p">],[</span><span class="nb">len</span><span class="p">(</span><span class="n">gridMuSigma</span><span class="p">),]))</span>
<span class="n">embed3d_predx</span> <span class="o">=</span> <span class="n">regr</span><span class="o">.</span><span class="n">predict</span><span class="p">(</span><span class="n">gridMuSigma_pred</span><span class="p">)</span>
<span class="n">regr</span><span class="o">.</span><span class="n">fit</span><span class="p">(</span><span class="n">gridMuSigma</span><span class="p">,</span> <span class="n">np</span><span class="o">.</span><span class="n">reshape</span><span class="p">(</span><span class="n">embed3d</span><span class="p">[:,</span><span class="mi">1</span><span class="p">],[</span><span class="nb">len</span><span class="p">(</span><span class="n">gridMuSigma</span><span class="p">),]))</span>
<span class="n">embed3d_predy</span> <span class="o">=</span> <span class="n">regr</span><span class="o">.</span><span class="n">predict</span><span class="p">(</span><span class="n">gridMuSigma_pred</span><span class="p">)</span>
<span class="n">regr</span><span class="o">.</span><span class="n">fit</span><span class="p">(</span><span class="n">gridMuSigma</span><span class="p">,</span> <span class="n">np</span><span class="o">.</span><span class="n">reshape</span><span class="p">(</span><span class="n">embed3d</span><span class="p">[:,</span><span class="mi">2</span><span class="p">],[</span><span class="nb">len</span><span class="p">(</span><span class="n">gridMuSigma</span><span class="p">),]))</span>
<span class="n">embed3d_predz</span> <span class="o">=</span> <span class="n">regr</span><span class="o">.</span><span class="n">predict</span><span class="p">(</span><span class="n">gridMuSigma_pred</span><span class="p">)</span>


<span class="c">#learn 2d embedding</span>
<span class="c"># Train the model using the training sets</span>
<span class="n">regr</span><span class="o">.</span><span class="n">fit</span><span class="p">(</span><span class="n">gridMuSigma</span><span class="p">,</span> <span class="n">np</span><span class="o">.</span><span class="n">reshape</span><span class="p">(</span><span class="n">embed2d</span><span class="p">[:,</span><span class="mi">0</span><span class="p">],[</span><span class="nb">len</span><span class="p">(</span><span class="n">gridMuSigma</span><span class="p">),]))</span>
<span class="n">embed2d_predx</span> <span class="o">=</span> <span class="n">regr</span><span class="o">.</span><span class="n">predict</span><span class="p">(</span><span class="n">gridMuSigma_pred</span><span class="p">)</span>
<span class="n">regr</span><span class="o">.</span><span class="n">fit</span><span class="p">(</span><span class="n">gridMuSigma</span><span class="p">,</span> <span class="n">np</span><span class="o">.</span><span class="n">reshape</span><span class="p">(</span><span class="n">embed2d</span><span class="p">[:,</span><span class="mi">1</span><span class="p">],[</span><span class="nb">len</span><span class="p">(</span><span class="n">gridMuSigma</span><span class="p">),]))</span>
<span class="n">embed2d_predy</span> <span class="o">=</span> <span class="n">regr</span><span class="o">.</span><span class="n">predict</span><span class="p">(</span><span class="n">gridMuSigma_pred</span><span class="p">)</span>

<span class="c">#learn 2d embedding inverse</span>
<span class="c"># Train the model using the training sets</span>
<span class="n">regr</span><span class="o">.</span><span class="n">fit</span><span class="p">(</span><span class="n">embed2d</span><span class="p">,</span> <span class="n">np</span><span class="o">.</span><span class="n">reshape</span><span class="p">(</span><span class="n">gridMuSigma</span><span class="p">[:,</span><span class="mi">0</span><span class="p">],[</span><span class="nb">len</span><span class="p">(</span><span class="n">gridMuSigma</span><span class="p">),]))</span>
<span class="n">embed2d_inv_predx</span> <span class="o">=</span> <span class="n">regr</span><span class="o">.</span><span class="n">predict</span><span class="p">(</span><span class="n">embed2d</span><span class="p">)</span>
<span class="n">regr</span><span class="o">.</span><span class="n">fit</span><span class="p">(</span><span class="n">embed2d</span><span class="p">,</span> <span class="n">np</span><span class="o">.</span><span class="n">reshape</span><span class="p">(</span><span class="n">gridMuSigma</span><span class="p">[:,</span><span class="mi">1</span><span class="p">],[</span><span class="nb">len</span><span class="p">(</span><span class="n">gridMuSigma</span><span class="p">),]))</span>
<span class="n">embed2d_inv_predy</span> <span class="o">=</span> <span class="n">regr</span><span class="o">.</span><span class="n">predict</span><span class="p">(</span><span class="n">embed2d</span><span class="p">)</span>



<span class="c">#Setup plots</span>
<span class="n">fig</span> <span class="o">=</span> <span class="n">plt</span><span class="o">.</span><span class="n">figure</span><span class="p">(</span><span class="n">figsize</span><span class="o">=</span><span class="p">(</span><span class="mi">5</span><span class="o">*</span><span class="mi">4</span><span class="p">,</span><span class="mf">4.5</span><span class="o">*</span><span class="mi">2</span><span class="p">))</span>

<span class="c">#make original grid plot</span>
<span class="c">#gridsubpl = fig.add_subplot(231)</span>
<span class="c">#gridsubpl.scatter(gridMuSigma[:, 0], gridMuSigma[:, 1], s=20, c=colors)</span>
<span class="c">#gridsubpl.set_xlabel(&#39;mean&#39;)</span>
<span class="c">#gridsubpl.set_ylabel(&#39;standard deviation&#39;)</span>
<span class="c">#plt.title(&#39;Original grid in mean and std. dev.&#39;)</span>
<span class="c">#plt.axis(&#39;tight&#39;)</span>

<span class="c"># plot 3d embedding</span>
<span class="c">#since it is a surface of constant negative curvature (hyperbolic geometry)</span>
<span class="c">#expect it to look like the pseudo-sphere</span>
<span class="c">#http://mathworld.wolfram.com/Pseudosphere.html</span>
<span class="n">subpl</span> <span class="o">=</span> <span class="n">fig</span><span class="o">.</span><span class="n">add_subplot</span><span class="p">(</span><span class="mi">241</span><span class="p">,</span><span class="n">projection</span><span class="o">=</span><span class="s">&#39;3d&#39;</span><span class="p">)</span>
<span class="n">subpl</span><span class="o">.</span><span class="n">scatter</span><span class="p">(</span><span class="n">embed3d</span><span class="p">[:,</span> <span class="mi">0</span><span class="p">],</span> <span class="n">embed3d</span><span class="p">[:,</span> <span class="mi">1</span><span class="p">],</span> <span class="n">embed3d</span><span class="p">[:,</span> <span class="mi">2</span><span class="p">],</span><span class="n">s</span><span class="o">=</span><span class="mi">20</span><span class="p">,</span> <span class="n">c</span><span class="o">=</span><span class="n">colors</span><span class="p">)</span>
<span class="n">subpl</span><span class="o">.</span><span class="n">scatter</span><span class="p">(</span><span class="n">embed3d_predx</span><span class="p">,</span> <span class="n">embed3d_predy</span><span class="p">,</span> <span class="n">embed3d_predz</span><span class="p">,</span><span class="n">s</span><span class="o">=</span><span class="mi">10</span><span class="p">,</span> <span class="n">c</span><span class="o">=</span><span class="s">&#39;r&#39;</span><span class="p">)</span>
<span class="n">subpl</span><span class="o">.</span><span class="n">view_init</span><span class="p">(</span><span class="mi">42</span><span class="p">,</span> <span class="mi">101</span><span class="p">)</span> <span class="c">#looks good when njobs=-1</span>
<span class="n">subpl</span><span class="o">.</span><span class="n">view_init</span><span class="p">(</span><span class="o">-</span><span class="mi">130</span><span class="p">,</span><span class="o">-</span><span class="mi">33</span><span class="p">)</span><span class="c">#looks good when njobs=1</span>
<span class="n">plt</span><span class="o">.</span><span class="n">suptitle</span><span class="p">(</span><span class="s">&#39;3D Multidim. Scailing Embedding&#39;</span><span class="p">)</span>
<span class="n">plt</span><span class="o">.</span><span class="n">axis</span><span class="p">(</span><span class="s">&#39;tight&#39;</span><span class="p">)</span>

<span class="n">subpl2</span> <span class="o">=</span> <span class="n">fig</span><span class="o">.</span><span class="n">add_subplot</span><span class="p">(</span><span class="mi">242</span><span class="p">,</span><span class="n">projection</span><span class="o">=</span><span class="s">&#39;3d&#39;</span><span class="p">)</span>
<span class="n">subpl2</span><span class="o">.</span><span class="n">scatter</span><span class="p">(</span><span class="n">gridMuSigma</span><span class="p">[:,</span> <span class="mi">0</span><span class="p">],</span> <span class="n">gridMuSigma</span><span class="p">[:,</span> <span class="mi">1</span><span class="p">],</span> <span class="n">embed3d</span><span class="p">[:,</span> <span class="mi">0</span><span class="p">],</span> <span class="n">s</span><span class="o">=</span><span class="mi">20</span><span class="p">,</span> <span class="n">c</span><span class="o">=</span><span class="n">colors</span><span class="p">)</span>
<span class="n">subpl2</span><span class="o">.</span><span class="n">scatter</span><span class="p">(</span><span class="n">gridMuSigma_pred</span><span class="p">[:,</span> <span class="mi">0</span><span class="p">],</span> <span class="n">gridMuSigma_pred</span><span class="p">[:,</span> <span class="mi">1</span><span class="p">],</span> <span class="n">embed3d_predx</span><span class="p">,</span><span class="n">s</span><span class="o">=</span><span class="mi">10</span><span class="p">,</span> <span class="n">c</span><span class="o">=</span><span class="s">&#39;r&#39;</span><span class="p">)</span>
<span class="n">plt</span><span class="o">.</span><span class="n">axis</span><span class="p">(</span><span class="s">&#39;tight&#39;</span><span class="p">)</span>
<span class="n">subpl3</span> <span class="o">=</span> <span class="n">fig</span><span class="o">.</span><span class="n">add_subplot</span><span class="p">(</span><span class="mi">243</span><span class="p">,</span><span class="n">projection</span><span class="o">=</span><span class="s">&#39;3d&#39;</span><span class="p">)</span>
<span class="n">subpl3</span><span class="o">.</span><span class="n">scatter</span><span class="p">(</span><span class="n">gridMuSigma</span><span class="p">[:,</span> <span class="mi">0</span><span class="p">],</span> <span class="n">gridMuSigma</span><span class="p">[:,</span> <span class="mi">1</span><span class="p">],</span> <span class="n">embed3d</span><span class="p">[:,</span> <span class="mi">1</span><span class="p">],</span><span class="n">s</span><span class="o">=</span><span class="mi">20</span><span class="p">,</span> <span class="n">c</span><span class="o">=</span><span class="n">colors</span><span class="p">)</span>
<span class="n">subpl3</span><span class="o">.</span><span class="n">scatter</span><span class="p">(</span><span class="n">gridMuSigma_pred</span><span class="p">[:,</span> <span class="mi">0</span><span class="p">],</span> <span class="n">gridMuSigma_pred</span><span class="p">[:,</span> <span class="mi">1</span><span class="p">],</span> <span class="n">embed3d_predy</span><span class="p">,</span><span class="n">s</span><span class="o">=</span><span class="mi">10</span><span class="p">,</span> <span class="n">c</span><span class="o">=</span><span class="s">&#39;r&#39;</span><span class="p">)</span>
<span class="n">plt</span><span class="o">.</span><span class="n">axis</span><span class="p">(</span><span class="s">&#39;tight&#39;</span><span class="p">)</span>
<span class="n">subpl4</span> <span class="o">=</span> <span class="n">fig</span><span class="o">.</span><span class="n">add_subplot</span><span class="p">(</span><span class="mi">244</span><span class="p">,</span><span class="n">projection</span><span class="o">=</span><span class="s">&#39;3d&#39;</span><span class="p">)</span>
<span class="n">subpl4</span><span class="o">.</span><span class="n">scatter</span><span class="p">(</span><span class="n">gridMuSigma</span><span class="p">[:,</span> <span class="mi">0</span><span class="p">],</span> <span class="n">gridMuSigma</span><span class="p">[:,</span> <span class="mi">1</span><span class="p">],</span> <span class="n">embed3d</span><span class="p">[:,</span> <span class="mi">2</span><span class="p">],</span><span class="n">s</span><span class="o">=</span><span class="mi">20</span><span class="p">,</span> <span class="n">c</span><span class="o">=</span><span class="n">colors</span><span class="p">)</span>
<span class="n">subpl4</span><span class="o">.</span><span class="n">scatter</span><span class="p">(</span><span class="n">gridMuSigma_pred</span><span class="p">[:,</span> <span class="mi">0</span><span class="p">],</span> <span class="n">gridMuSigma_pred</span><span class="p">[:,</span> <span class="mi">1</span><span class="p">],</span> <span class="n">embed3d_predz</span><span class="p">,</span><span class="n">s</span><span class="o">=</span><span class="mi">10</span><span class="p">,</span> <span class="n">c</span><span class="o">=</span><span class="s">&#39;r&#39;</span><span class="p">)</span>
<span class="n">plt</span><span class="o">.</span><span class="n">axis</span><span class="p">(</span><span class="s">&#39;tight&#39;</span><span class="p">)</span>


<span class="c"># plot 2d embedding</span>
<span class="n">subpl2</span> <span class="o">=</span> <span class="n">fig</span><span class="o">.</span><span class="n">add_subplot</span><span class="p">(</span><span class="mi">245</span><span class="p">)</span>
<span class="c">#subpl2.set_autoscaley_on(False)</span>
<span class="n">subpl2</span><span class="o">.</span><span class="n">scatter</span><span class="p">(</span><span class="n">embed2d_predx</span><span class="p">,</span> <span class="n">embed2d_predy</span><span class="p">,</span><span class="n">s</span><span class="o">=</span><span class="mi">10</span><span class="p">,</span> <span class="n">c</span><span class="o">=</span><span class="s">&#39;r&#39;</span><span class="p">)</span>
<span class="n">subpl2</span><span class="o">.</span><span class="n">scatter</span><span class="p">(</span><span class="n">embed2d</span><span class="p">[:,</span> <span class="mi">0</span><span class="p">],</span> <span class="n">embed2d</span><span class="p">[:,</span> <span class="mi">1</span><span class="p">],</span><span class="n">s</span><span class="o">=</span><span class="mi">20</span><span class="p">,</span> <span class="n">c</span><span class="o">=</span><span class="n">colors</span><span class="p">)</span>
<span class="n">plt</span><span class="o">.</span><span class="n">title</span><span class="p">(</span><span class="s">&#39;2D Multidim. Scailing Embedding&#39;</span><span class="p">)</span>
<span class="n">plt</span><span class="o">.</span><span class="n">axis</span><span class="p">(</span><span class="s">&#39;tight&#39;</span><span class="p">)</span>
<span class="n">subpl2</span> <span class="o">=</span> <span class="n">fig</span><span class="o">.</span><span class="n">add_subplot</span><span class="p">(</span><span class="mi">246</span><span class="p">,</span><span class="n">projection</span><span class="o">=</span><span class="s">&#39;3d&#39;</span><span class="p">)</span>
<span class="n">subpl2</span><span class="o">.</span><span class="n">scatter</span><span class="p">(</span><span class="n">gridMuSigma</span><span class="p">[:,</span> <span class="mi">0</span><span class="p">],</span> <span class="n">gridMuSigma</span><span class="p">[:,</span> <span class="mi">1</span><span class="p">],</span> <span class="n">embed2d</span><span class="p">[:,</span> <span class="mi">0</span><span class="p">],</span> <span class="n">s</span><span class="o">=</span><span class="mi">20</span><span class="p">,</span> <span class="n">c</span><span class="o">=</span><span class="n">colors</span><span class="p">)</span>
<span class="n">subpl2</span><span class="o">.</span><span class="n">scatter</span><span class="p">(</span><span class="n">gridMuSigma_pred</span><span class="p">[:,</span> <span class="mi">0</span><span class="p">],</span> <span class="n">gridMuSigma_pred</span><span class="p">[:,</span> <span class="mi">1</span><span class="p">],</span> <span class="n">embed2d_predx</span><span class="p">,</span><span class="n">s</span><span class="o">=</span><span class="mi">10</span><span class="p">,</span> <span class="n">c</span><span class="o">=</span><span class="s">&#39;r&#39;</span><span class="p">)</span>
<span class="n">plt</span><span class="o">.</span><span class="n">axis</span><span class="p">(</span><span class="s">&#39;tight&#39;</span><span class="p">)</span>
<span class="n">subpl3</span> <span class="o">=</span> <span class="n">fig</span><span class="o">.</span><span class="n">add_subplot</span><span class="p">(</span><span class="mi">247</span><span class="p">,</span><span class="n">projection</span><span class="o">=</span><span class="s">&#39;3d&#39;</span><span class="p">)</span>
<span class="n">subpl3</span><span class="o">.</span><span class="n">scatter</span><span class="p">(</span><span class="n">gridMuSigma</span><span class="p">[:,</span> <span class="mi">0</span><span class="p">],</span> <span class="n">gridMuSigma</span><span class="p">[:,</span> <span class="mi">1</span><span class="p">],</span> <span class="n">embed2d</span><span class="p">[:,</span> <span class="mi">1</span><span class="p">],</span><span class="n">s</span><span class="o">=</span><span class="mi">20</span><span class="p">,</span> <span class="n">c</span><span class="o">=</span><span class="n">colors</span><span class="p">)</span>
<span class="n">subpl3</span><span class="o">.</span><span class="n">scatter</span><span class="p">(</span><span class="n">gridMuSigma_pred</span><span class="p">[:,</span> <span class="mi">0</span><span class="p">],</span> <span class="n">gridMuSigma_pred</span><span class="p">[:,</span> <span class="mi">1</span><span class="p">],</span> <span class="n">embed2d_predy</span><span class="p">,</span><span class="n">s</span><span class="o">=</span><span class="mi">10</span><span class="p">,</span> <span class="n">c</span><span class="o">=</span><span class="s">&#39;r&#39;</span><span class="p">)</span>
<span class="n">plt</span><span class="o">.</span><span class="n">axis</span><span class="p">(</span><span class="s">&#39;tight&#39;</span><span class="p">)</span>

<span class="c">#plot 2d inverse embedding</span>
<span class="n">subpl2</span> <span class="o">=</span> <span class="n">fig</span><span class="o">.</span><span class="n">add_subplot</span><span class="p">(</span><span class="mi">248</span><span class="p">)</span>
<span class="c">#subpl2.set_autoscaley_on(False)</span>
<span class="c">#subpl2.scatter(gridMuSigma[:, 0], gridMuSigma[:, 1], s=20, c=colors)</span>
<span class="n">subpl2</span><span class="o">.</span><span class="n">scatter</span><span class="p">(</span><span class="n">embed2d_inv_predx</span><span class="p">,</span> <span class="n">embed2d_inv_predy</span><span class="p">,</span><span class="n">s</span><span class="o">=</span><span class="mi">10</span><span class="p">,</span> <span class="n">c</span><span class="o">=</span><span class="s">&#39;r&#39;</span><span class="p">)</span>

<span class="n">plt</span><span class="o">.</span><span class="n">savefig</span><span class="p">(</span><span class="s">&#39;learnEmbedding.pdf&#39;</span><span class="p">)</span>
<span class="n">plt</span><span class="o">.</span><span class="n">savefig</span><span class="p">(</span><span class="s">&#39;learnEmbedding.png&#39;</span><span class="p">)</span>
<span class="n">plt</span><span class="o">.</span><span class="n">show</span><span class="p">()</span>
</pre></div>


</figure>

<p>Notes on getting notebook to work:
ipython command line worked, but import IPython wasn't working. Was a virtualenv issue, did a pip install (very fast) and all good now. Adding the EXTRA_HEADER doesn't work until the _nb_header.html is generated. If there is no check for the file, the devserver has problems. I wasn't sure where to put the 
{% if EXTRA_HEADER %} stuff, but found that it should go in themes/base.html. Unfortunately, the _nb_header isn't playing well with the pelican-bootstrap3 theme... the notebook is styled, but the menu, buttons, and headers of the rest of the page are modified.</p>
<p>
<div class="text_cell_render border-box-sizing rendered_html">
<h1 id="A-Spirograph-Animation-with-matplotlib-and-iPython">A Spirograph Animation with matplotlib and iPython<a class="anchor-link" href="#A-Spirograph-Animation-with-matplotlib-and-iPython">&#182;</a></h1>
</div>

<div class="text_cell_render border-box-sizing rendered_html">
<p><em>This notebook is inspired by the</em> <a href="http://jakevdp.github.io/blog/2013/05/12/embedding-matplotlib-animations/"><em>blog post</em></a> <em>on</em> <a href="http://jakevdp.github.io"><em>Pythonic Perambulations</em></a>.</p>
<p><em>License:</em> <a href="http://opensource.org/licenses/BSD-3-Clause"><em>BSD</em></a> <em>(C) 2014, Kyle Cranmer.</em> <em>Feel free to use, distribute, and modify with the above attribution.</em></p>
</div>
<div class="text_cell_render border-box-sizing rendered_html">
<p>When teaching Physics I at NYU I gave a challenging problem to my students to use change of coordinates with rotations and translations to derive the parametric equation for a spirograph. They also had to solve for the velocity and acceleration. It was hard, but a lot of students liked it. In the process, I made some <a href="http://www.flickr.com/photos/hoonynoo/2159185452/in/photostream/">pretty plots</a> and posted them to Flickr. When I saw Jake's awesome animation examples, I had to try it out with something novel.</p>
</div>
<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">
In&nbsp;[1]:
</div>
<div class="input_area box-flex1">
<div class="highlight-ipynb"><pre class="ipynb"><span class="o">%</span><span class="k">pylab</span> <span class="n">inline</span>
</pre></div>

</div>
</div>

<div class="vbox output_wrapper">
<div class="output vbox">


<div class="hbox output_area"><div class="prompt"></div>
<div class="box-flex1 output_subarea output_stream output_stdout">
<pre>
Populating the interactive namespace from numpy and matplotlib

</pre>
</div>
</div>

</div>
</div>

</div>
<div class="text_cell_render border-box-sizing rendered_html">
<p>Now we'll create a function that will save an animation and embed it in an html string. Note that this will require ffmpeg or mencoder to be installed on your system. For reasons entirely beyond my limited understanding of video encoding details, this also requires using the libx264 encoding for the resulting mp4 to be properly embedded into HTML5.</p>
</div>
<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">
In&nbsp;[2]:
</div>
<div class="input_area box-flex1">
<div class="highlight-ipynb"><pre class="ipynb"><span class="kn">from</span> <span class="nn">tempfile</span> <span class="kn">import</span> <span class="n">NamedTemporaryFile</span>

<span class="n">VIDEO_TAG</span> <span class="o">=</span> <span class="s">&quot;&quot;&quot;&lt;video controls&gt;</span>
<span class="s"> &lt;source src=&quot;data:video/x-m4v;base64,{0}&quot; type=&quot;video/mp4&quot;&gt;</span>
<span class="s"> Your browser does not support the video tag.</span>
<span class="s">&lt;/video&gt;&quot;&quot;&quot;</span>

<span class="k">def</span> <span class="nf">anim_to_html</span><span class="p">(</span><span class="n">anim</span><span class="p">):</span>
    <span class="k">if</span> <span class="ow">not</span> <span class="nb">hasattr</span><span class="p">(</span><span class="n">anim</span><span class="p">,</span> <span class="s">&#39;_encoded_video&#39;</span><span class="p">):</span>
        <span class="k">with</span> <span class="n">NamedTemporaryFile</span><span class="p">(</span><span class="n">suffix</span><span class="o">=</span><span class="s">&#39;.mp4&#39;</span><span class="p">)</span> <span class="k">as</span> <span class="n">f</span><span class="p">:</span>
            <span class="n">anim</span><span class="o">.</span><span class="n">save</span><span class="p">(</span><span class="n">f</span><span class="o">.</span><span class="n">name</span><span class="p">,</span> <span class="n">fps</span><span class="o">=</span><span class="mi">20</span><span class="p">,</span> <span class="n">dpi</span><span class="o">=</span><span class="mi">70</span><span class="p">,</span><span class="n">extra_args</span><span class="o">=</span><span class="p">[</span><span class="s">&#39;-vcodec&#39;</span><span class="p">,</span> <span class="s">&#39;libx264&#39;</span><span class="p">,</span> <span class="s">&#39;-pix_fmt&#39;</span><span class="p">,</span> <span class="s">&#39;yuv420p&#39;</span><span class="p">])</span>
            <span class="n">video</span> <span class="o">=</span> <span class="nb">open</span><span class="p">(</span><span class="n">f</span><span class="o">.</span><span class="n">name</span><span class="p">,</span> <span class="s">&quot;rb&quot;</span><span class="p">)</span><span class="o">.</span><span class="n">read</span><span class="p">()</span>
        <span class="n">anim</span><span class="o">.</span><span class="n">_encoded_video</span> <span class="o">=</span> <span class="n">video</span><span class="o">.</span><span class="n">encode</span><span class="p">(</span><span class="s">&quot;base64&quot;</span><span class="p">)</span>
    
    <span class="k">return</span> <span class="n">VIDEO_TAG</span><span class="o">.</span><span class="n">format</span><span class="p">(</span><span class="n">anim</span><span class="o">.</span><span class="n">_encoded_video</span><span class="p">)</span>
</pre></div>

</div>
</div>

</div>
<div class="text_cell_render border-box-sizing rendered_html">
<p>With this HTML function in place, we can use IPython's HTML display tools to create a function which will show the video inline:</p>
</div>
<div class="cell border-box-sizing code_cell vbox">
<div class="input hbox">
<div class="prompt input_prompt">
In&nbsp;[3]:
</div>
<div class="input_area box-flex1">
<div class="highlight-ipynb"><pre class="ipynb"><span class="kn">from</span> <span class="nn">IPython.display</span> <span class="kn">import</span> <span class="n">HTML</span>

<span class="k">def</span> <span class="nf">display_animation</span><span class="p">(</span><span class="n">anim</span><span class="p">):</span>
    <span class="n">plt</span><span class="o">.</span><span class="n">close</span><span class="p">(</span><span class="n">anim</span><span class="o">.</span><span class="n">_fig</span><span class="p">)</span>
    <span class="k">return</span> <span class="n">HTML</span><span class="p">(</span><span class="n">anim_to_html</span><span class="p">(</span><span class="n">anim</span><span class="p">))</span>
</pre></div>

</div>
</div>

</div>
<div class="text_cell_render border-box-sizing rendered_html">
<p>Now define a class for the spirograph.</p>
</div></p>
<p>How do I style the literal line below?</p>
<p>{% include_code learnEmbedding.py lang:python learnEmbedding %}</p>
<!--

test notebook

-->
    </div><!-- /.entry-content -->

  </article>
</section>
        <section id="extras" class="body">
                <div class="blogroll">
                        <h2>blogroll</h2>
                        <ul>
                            <li><a href="http://getpelican.com/">Pelican</a></li>
                            <li><a href="http://python.org/">Python.org</a></li>
                            <li><a href="http://jinja.pocoo.org/">Jinja2</a></li>
                            <li><a href="http://www.quantumdiaries.org/">Quantum Diaries</a></li>
                            <li><a href="http://www.quantumdiaries.org/author/kyle-cranmer/">Me @ Quantum Diaries</a></li>
                            <li><a href="http://www.math.columbia.edu/~woit/wordpress/">Not Even Wrong</a></li>
                            <li><a href="http://twistedphysics.typepad.com/cocktail_party_physics/">Cocktail Party Physics</a></li>
                            <li><a href="http://resonaances.blogspot.com/">Résonaances</a></li>
                            <li><a href="http://profmattstrassler.com/">Matt Strassler</a></li>
                            <li><a href="http://gordonwatts.wordpress.com/">Life as a physicist</a></li>
                            <li><a href="http://www.science20.com/physics">Tommaso Dorigo</a></li>
                            <li><a href="http://blogs.discovermagazine.com/cosmicvariance/">Cosmic Variance</a></li>
                            <li><a href="http://muon.wordpress.com/">Collider Blog</a></li>
                            <li><a href="http://www.symmetrymagazine.org/breaking">Symmetry Breaking</a></li>
                            <li><a href="http://blog.inspirehep.net/">INSPIRE</a></li>
                            <li><a href="http://datapub.cdlib.org/">Data Pub</a></li>
                            <li><a href="http://hoggresearch.blogspot.com/">Hogg’s Research</a></li>
                        </ul>
                </div><!-- /.blogroll -->
                <div class="social">
                        <h2>social</h2>
                        <ul>

                            <li><a href="http://twitter.com/kylecranmer">twitter</a></li>
                            <li><a href="http://github.com/cranmer">github</a></li>
                            <li><a href="http://www.linkedin.com/in/kylecranmer">linkedin</a></li>
                            <li><a href="https://plus.google.com/106689822196584540592/posts">google+</a></li>
                            <li><a href="http://www.flickr.com/photos/hoonynoo/">flickr</a></li>
                        </ul>
                </div><!-- /.social -->
        </section><!-- /#extras -->

        <footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
                Proudly powered by <a href="http://getpelican.com/">Pelican</a>, which takes great advantage of <a href="http://python.org">Python</a>.
                </address><!-- /#about -->

                <p>The theme is by <a href="http://coding.smashingmagazine.com/2009/08/04/designing-a-html-5-layout-from-scratch/">Smashing Magazine</a>, thanks!</p>
        </footer><!-- /#contentinfo -->

</body>
</html>